.container {
  margin-top: 60px;
}

.model {
  margin-left: 18%;
  width: 60%;
  /* border: 1px solid black; */
}



.model img {
  height: 300px;
  /* width: 100%; */
}

.item {
  gap: 20px;
  margin-left: 245px;
  margin-top: 5%;
  text-align: center;
  width: 60%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.item img {
  margin: 10px;
  /* border: 1px solid black; */
  width: 100px;
}
